/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {   name: "halloween";   default: true; };

mat-error{
  color:red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button{
  margin-bottom:1rem;
}
.cursos-contenedor{
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}
.estudiantes-contenedor{
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;

}
.estudiante-contenedor{
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}
p{
  max-width: 225px;
  font-size:15px;
  font-weight:bold;
}
button{
  margin-left:1rem;
}
.boton{
  margin-bottom:1rem;
}

.contenedor{
  display: flex;
}

ul{
  height:200px;
  overflow-y: auto;
  list-style-type: none;
  width:170px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

ul li{
  cursor: pointer;
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  font-size: 14px;
}

ul il:hover{
  background-color: #08c;
}

.div-botones{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

button{
  margin: 5px;
}
